.viewPageMainDiv {
    background-image: url("../../assets/graphingpaper2.jfif");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    background-attachment: fixed;
}

/* .logView { */
    /* background-color: rgba( 47, 72, 159, .6); */
/* } */

.table {
    color: lightgray
}

.tipLogs {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}

.mileLogs {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}

.logMainDiv {
    text-align: center;
    background-color: rgba( 47, 72, 159, .6);
}

.viewPageFormLabel {
    font: 36px "Ramaraja";
    border: 7px solid white;
    background-color: #DA4545;
    width: 100%;
    
    text-align: center;
}

.deleteFormLabel {
    font: 22px "Ramaraja";
    border: 4px solid white;
    background-color: #45C8D9;
    width: 80%;
    text-align: left;
    padding: 10px;
}

.logViewBackground {
    display: inline-block
}

.deleteForms {
    display:grid ;
    float: right;
    align-items: right;
    padding: 10px;
    height: 50%;
}

.viewPageInput{
    width: 80%;
    text-align: center;
    background-color: lightgray;
    border: lightgray;
    font-size: 20px;
}